In [1]:
import pandas as pd
import numpy as np

# 183. Customers Who Never Order

Input: 
Customers table:
+----+-------+
| id | name  |
+----+-------+
| 1  | Joe   |
| 2  | Henry |
| 3  | Sam   |
| 4  | Max   |
+----+-------+
Orders table:
+----+------------+
| id | customerId |
+----+------------+
| 1  | 3          |
| 2  | 1          |
+----+------------+
Output: 
+-----------+
| Customers |
+-----------+
| Henry     |
| Max       |
+-----------+

In [12]:
def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    return customers.loc[~customers.id.isin(orders.customerId), ['name']].rename(columns={'name': 'Customers'})

In [5]:
customers = pd.DataFrame(['Joe', 'Henry', 'Sam', 'Max']).reset_index()
customers.columns=['id', 'name']
customers.id +=  1
customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [6]:
orders = pd.DataFrame([3, 1]).reset_index()
orders.columns = ['id', 'customerId']
orders.id +=  1
orders

   id  customerId
0   1           3
1   2           1

In [13]:
find_customers(customers, orders)

  Customers
1     Henry
3       Max

# 1148. Article Views I

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| article_id    | int     |
| author_id     | int     |
| viewer_id     | int     |
| view_date     | date    |
+---------------+---------+
There is no primary key (column with unique values) for this table, the table may have duplicate rows.


Each row of this table indicates that some viewer viewed an article (written by some author) on some date. 
Note that equal author_id and viewer_id indicate the same person.

Write a solution to find all the authors that viewed at least one of their own articles.

Return the result table sorted by id in ascending order.

The result format is in the following example.

Input: 
Views table:
+------------+-----------+-----------+------------+
| article_id | author_id | viewer_id | view_date  |
+------------+-----------+-----------+------------+
| 1          | 3         | 5         | 2019-08-01 |
| 1          | 3         | 6         | 2019-08-02 |
| 2          | 7         | 7         | 2019-08-01 |
| 2          | 7         | 6         | 2019-08-02 |
| 4          | 7         | 1         | 2019-07-22 |
| 3          | 4         | 4         | 2019-07-21 |
| 3          | 4         | 4         | 2019-07-21 |
+------------+-----------+-----------+------------+
Output: 
+------+
| id   |
+------+
| 4    |
| 7    |
+------+

In [29]:
def article_views(views: pd.DataFrame) -> pd.DataFrame:
    return (views.loc[views.author_id==views.viewer_id, ['author_id']]
            .drop_duplicates()
            .rename(columns={'author_id': 'id'})
            .sort_values('id')
           )

In [14]:
a = [[1,3,5], [1,3,6], [2,7,7], [2,7,6], [4,7,1], [3, 4, 4], [3, 4, 4]]
views = pd.DataFrame(a, columns=['article_id', 'author_id', 'viewer_id'])
views

   article_id  author_id  viewer_id
0           1          3          5
1           1          3          6
2           2          7          7
3           2          7          6
4           4          7          1
5           3          4          4
6           3          4          4

In [28]:
(views.loc[views.author_id==views.viewer_id, ['author_id']]
 .drop_duplicates()
 .rename(columns={'author_id': 'id'})
 .sort_values('id')
 
)

   id
5   4
2   7

In [27]:
views.sort_values(by='author_id')

   article_id  author_id  viewer_id
0           1          3          5
1           1          3          6
5           3          4          4
6           3          4          4
2           2          7          7
3           2          7          6
4           4          7          1

In [30]:
article_views(views)

   id
5   4
2   7